page-home {
    .bg {
        background-color: #CD3131;
    }
    .botones {
        background-color: #359768;
    }
    .f1 {
        background-color: #FFE775;
        color: #AB1212;
        font-size: 17px;
    }
    .let {
        color: #ffffff;
        font-size: 20px;
    }
    .let2 {
        color: #ffffff;
        font-size: 10px;
    }
    .lat {
        color: #AB1212;
        font-size: 15px;
    }
    .bar-footer {
        height: 0px !important;
    }
    .f2 {
        background-color: #359768;
    }
    .t1 {
        text-decoration: line-through;
        font-size: 17px;
        background-color: #F2E9E8;
    }
}